body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

body    {
    background-image: url(../assets/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;    
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

.transition {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    
}

/**********************************************
*****************MISCELLANEOUS*****************
***********************************************/

.button {
    padding: 15px 45px ;
    background-color: #32c8de;
    display: inline-block;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
    .button:hover   {
        border-radius: 0px;
    }

.box {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(58,78,95,0.2) 0 10px 16px, 
                rgba(58,78,95,0.05) 0 -5px 16px;
}

.row {
    padding: 100px 0;
}
/**********************************************
********************HEADER*********************
***********************************************/

/* MAIN STYLE */
header  {
    position: sticky;
    top: 0px;
    z-index: 99;
}

header a,
header i   {
    color: white;
    text-transform: uppercase;
}

.navbar-brand   {
    font-size: 2em;
    font-weight: 300;
}

.nav.navbar-nav  {
    margin-left: auto;
}

/* ACTION */

header.scroll   {
    background-color: white;
    
}
    header.scroll a   {
        color: #3f3f3f;
    }
    header.scroll .navbar-brand,
    header.scroll i   {
        color: #32c8de;
    }

header a:hover {
    color: #32c8de;
}

#navbarSupportedContent > ul > li > a.active {
    background-color: #32c8de;
    color: white;
    border-radius: 20px;
    }

/**********************************************
*********************HOME**********************
***********************************************/

#home   {
    min-height: 100vh;
	width: 100%;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 140px;
}

    #home h1 {
        font-size: 6rem;
        font-weight: 600;
    }
    #home h2 {
        font-size: 3rem;
    }
.skills {
    padding: 20px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}
    .skill  {
        padding: 0 10px;
        border-right: 1px solid white;
    }
    #home > div > div > div > div > div:last-child {
        border: none;
    }

/**********************************************
*********************ABOUT*********************
***********************************************/
#about {
    width: 100%;
}

#about > .container-fluid {
    background-color: white;
}

#about > .container-fluid:nth-child(1) {
    box-shadow: #3f3f3f;
}
#about img {
    max-width: 100%;
}

.social-icons i{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    /* padding-left: 13px; */
    padding-top: 11px;
    margin-right: 10px;
}


/**********************************************
*******************SERVICES********************
***********************************************/


/**********************************************
********************RESUME*********************
***********************************************/


/**********************************************
**********************WORK*********************
***********************************************/


/**********************************************
**********************BLOG*********************
***********************************************/


/**********************************************
********************CONTACT********************
***********************************************/


/**********************************************
********************FOOTER*********************
***********************************************/
